html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: Garamond;
  background-size: cover;
  margin: 0%;
}

.lien {
  font-size: 100%;
  font-family: Lato;
  color: black;
  cursor: pointer;
  text-transform: unset;
  text-decoration: none;
  word-spacing: normal;
}

.current-lien {
  font-size: 115%;
  font-family: Lato;
  color: black;
  cursor: default;
  text-transform: unset;
  text-decoration: none;
  word-spacing: normal;
  border-bottom: 2px solid black;
}

.lien:hover {
  color: black;
}

.buttons {
  padding: auto;
  text-align: center;
  word-spacing: 1vw;
  border-bottom: 1px solid black;
}

.navbar {
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preview {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  text-align: center;
}

.preview-click:hover {
  transition: 0.1s;
  transform: scale(1.01);
  cursor: pointer;
}

.preview-click:hover > .preview-title {
  display: unset;
}

.preview-title {
  display: none;
  position: absolute;
  margin-left: 10%;
  margin-top: 20%;
  font-size: 130%;
  font-family: Garamond;
  color: black;
}

.preview-image {
  margin-top: 1%;
}

.title-left {
  font-family: Lato;
  font-size: 250%;
  color: black;
  margin-top: 2%;
  margin-left: 120px;
  padding-bottom: 5px;
  font-size: 20px;
}

.txt-left {
  font-size: 150%;
  font-family: Lato;
  color: rgba(0, 0, 0, 0.481);
  margin-left: 100px;
  margin-bottom: 8%;
  width: 50%;
}

.text {
  flex-direction: column;
  display: inline-block;
  max-width: 100%;
  min-width: 200px;
  height: auto;
}

.Retourner-en-haut {
  margin-left: 2%;
  cursor: pointer;
  font-size: 110%;
  font-family: Garamond;
  color: rgba(0, 0, 0, 0.481);
}

.Retourner-en-haut:hover {
  color: black;
}

@media only screen and (max-width: 900px) {
  .preview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    text-align: center;
  }

  .preview-title {
    display: unset;
    margin-top: 10%;
    font-size: 100%;
    font-family: Garamond;
    color: black;
  }

  .preview-image {
    max-width: 100%;
  }
  .txt-left {
    margin-top: 3%;
    margin-left: 2%;
    width: 95%;
  }
  .title-left {
    margin-top: 12%;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 1740px) {
  .txt-left {
    font-size: 120%;
  }
  .title-left {
    margin-top: 5%;
  }
  .Retourner-en-haut {
    cursor: pointer;
    font-size: 110%;
    font-family: Garamond;
    color: rgba(0, 0, 0, 0.481);
  }
}

.images-projects1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colums-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
}

.row-images {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.click-on-image {
  margin: 2%;
  width: 40%;
}

.photo {
  width: 100%;
}

