body {
  background-color: rgb(255, 255, 255);
  font-family: Garamond;
  background-size: cover;
  margin: 0%;
}

h1 {
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  font-family: "Garamond", sans-serif;
  color: black;
  font-size: 40px;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
}

.angi {
  font-size: 70%;
  font-weight: lighter;
}
.archi {
  font-size: 80%;
  font-weight: lighter;
  display: flex;
  letter-spacing: 2.5vw;
  padding-top: 10px;
}

h1 span {
  position: relative;
}

.buttons-container {
  position: relative;
  padding-top: 50px;
}

.logo-medias-insta {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.lien {
  font-size: 20px;
  font-family: Lato;
  color: black;
  cursor: pointer;
  text-transform: unset;
  text-decoration: none;
}

.lien:hover {
  color: black;
}

.button {
  border: black;
  text-align: center;
  padding-bottom: 100px;
}

.bulle {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  background: black;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bulle:hover {
  background: black;
}

