body {
  background-color: white;
  font-family: Garamond;
  background-size: cover;
  margin: 0%;
}

.lien {
  font-size: 100%;
  font-family: Lato;
  color: black;
  cursor: pointer;
  text-transform: unset;
  text-decoration: none;
  word-spacing: normal;
}

.current-lien {
  font-size: 115%;
  font-family: Lato;
  color: black;
  cursor: default;
  text-transform: unset;
  text-decoration: none;
  word-spacing: normal;
  border-bottom: 2px solid black;
}

.lien:hover {
  color: black;
}

.buttons {
  padding: auto;
  text-align: center;
  word-spacing: 1vw;
  border-bottom: 1px solid black;
}

.navbar {
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  background-color: rgb(228, 228, 228);
  z-index: 2;
}

