body {
  background-color: white;
  font-family: Garamond;
  background-size: cover;
  margin: 0%;
  padding: 0%;
}

.lien {
  font-size: 100%;
  font-family: Lato;
  color: black;
  cursor: pointer;
  text-transform: unset;
  text-decoration: none;
  word-spacing: normal;
}

.current-lien {
  font-size: 115%;
  font-family: Lato;
  color: black;
  cursor: default;
  text-transform: unset;
  text-decoration: none;
  word-spacing: normal;
  border-bottom: 2px solid black;
}

.lien:hover {
  color: black;
}

.buttons {
  padding: auto;
  text-align: center;
  word-spacing: 1vw;
  border-bottom: 1px solid black;
}

.navbar {
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.CV {
  position: relative;
  left: 20%;
  width: 60%;
  height: 90vh;
  text-align: center;
}

.CV p {
  border-bottom: 1px solid black;
}

.text {
  color: rgb(105, 105, 105);
  padding-bottom: 3%;
}

.CV > .text {
  text-align: left;
}

#photo {
  width: 100%;
}

#name {
  font-size: 2rem;
  padding-top: 100px;
}
