body {
  background-color: white;
  font-family: Garamond;
  background-size: cover;
  margin: 0%;
}

.lien {
  font-size: 100%;
  font-family: Lato;
  color: black;
  cursor: pointer;
  text-transform: unset;
  text-decoration: none;
  word-spacing: normal;
}

.current-lien {
  font-size: 115%;
  font-family: Lato;
  color: black;
  cursor: default;
  text-transform: unset;
  text-decoration: none;
  word-spacing: normal;
  border-bottom: 2px solid black;
}

.lien:hover {
  color: black;
}

.buttons {
  padding: auto;
  text-align: center;
  word-spacing: 1vw;
  border-bottom: 1px solid black;
}

.navbar {
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.colums-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
}

.row-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.click-on-image {
  margin-right: 10px;
  margin-top: 60px;
  max-width: 48%;
}

.photo {
  max-width: 100%;
}

.photo:hover {
  transition: 0.1s;
  transform: scale(1.01);
}

